# Python
__pycache__/
*.pyc
.venv/
.env

# ROS2 / build artifacts
build/
install/
log/

# C++/CMake
cmake-build-*/
CMakeFiles/
CMakeCache.txt

# IDE
.vscode/
.idea/

# Heavy artifacts / ML
*.onnx
*.pth
*.pt
*.npy
*.npz
*.bag
*.pcap

# OS
.DS_Store
Thumbs.db
